@use "../utils/mixins";
section.about {
  // border: 3px solid red;
  @include mixins.size(100vw, fit-content);
  @include mixins.flex(column);
  padding: 2rem 3.2rem;
  row-gap: 2rem;
  justify-self: flex-start;
  background: transparent;
  position: relative;
  z-index: 1;
  margin-top: -8rem;
  @media only screen and (1000px < width < 1200px) {
    margin-top: -12rem;
  }
  &::after {
    @include mixins.flex(column);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    @include mixins.size(100%);
    background: url("../../../public/images/about/about_bg.webp"),white;
    background-repeat: no-repeat;
    background-size: 36.1rem 28rem;
    background-position: left 25%;
    transform: scaleX(-1);
    @media only screen and (width > 1500px) {
      background-size: 61.6rem 47.726rem;
      background-position: unset;
      transform: unset;
    }
  }
  /*********************************Main Text*********************************/
  p {
    z-index: 2;
    span {
      color: #4690ff;
    }
    width: 32.5rem;
    text-align: justify;
    font-family: "Poppins";
    color: rgba(0, 0, 0, 1);
    @include mixins.formatText(400, 1.5rem, 2.2rem);
    @media only screen and (width > 800px) {
      width: 65.593rem;
      @include mixins.formatText(400, 1.8rem, 2.7rem);
    }
    @media only screen and (width > 1200px) {
      width: 57vw;
      @include mixins.formatText(400, 2.1rem, 3.2rem);
    }
    @media only screen and (width > 1500px) {
      width: 115rem;
      @include mixins.formatText(400, 2.4rem, 3.6rem);
    }
  }
}
