@use "~@fontsource/poppins/scss/mixins" as Poppins;

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
  $name: "Poppins #{$weight}";

  @if $weight == 400 {
    $name: "Poppins";
  }

  @include Poppins.fontFace($fontName: $name, $weight: $weight);
}
