@use "../utils/mixins";
header {
  @include mixins.size(100vw, 400px);
  // border: 3px solid rgb(63, 26, 195);
  // @include mixins.size(100vw, auto);
  @include mixins.customgrid(1, 1, auto);
  margin-bottom: 100vh;
  // border: 1px solid red;
  @media only screen and (width > 800px) {
    height: 45.152rem;
  }
  @media only screen and (width > 1200px) {
    height: 85.152rem;
  }
  @media only screen and (width > 1500px) {
    height: 90vh;
  }
  // img {
  //   @include mixins.size(100vw,inherit);
  //   // max-height: 39.1rem;
  //   @include mixins.defaultSignature;
  //   // aspect-ratio: none;
  // }

  /*********************************Header Background image*********************************/
  div.hdr_image {
    @include mixins.size(100%);
    @include mixins.size(inherit);

    grid-row: 1/2;
    grid-column: 1/2;
    // border: 3px solid rgb(38, 180, 137);
    img {
      @include mixins.size(100vw, inherit);
      object-fit: cover;
      margin-top: -35px;
      overflow: visible;
      // max-height: 39.1rem;
      @include mixins.defaultSignature;
      // aspect-ratio: none;
    }
  }
  /*********************************Header Content*********************************/
  div.hdr_content {
    @include mixins.size(100%);
    @include mixins.size(inherit);
    grid-row: 1/2;
    grid-column: 1/2;
    // border: 3px solid gold;
    @include mixins.customgrid(1, 1, auto);
    /*********************************Header Content text*********************************/
    &_text {
      grid-row: 1/2;
      grid-column: 1/2;
      @include mixins.flex(column);
      // border: 3px solid red;
      @include mixins.size(100%);
      @include mixins.size(inherit);
      padding-left: 2rem;
      row-gap: 0rem;
      justify-content: space-evenly;
      span {
        width: 25.2rem;
        // height: 210px;
        align-self: flex-start;
        // @include mixins.size(24.8rem,inherit);

        font-family: "Nunito 800";
        font-style: italic;
        font-size: 30px;
        line-height: 30px;
        color: #145ba1;

        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
        span {
          color: #28a2f7;
        }
      }

      button{
        align-self: flex-start;
       margin-bottom: 5rem;
      }
    }
    /*********************************Header Content images*********************************/
    &_image {
      // border: 3px solid red;
      transform: translate(-20px, -70px);
      justify-self: flex-end;
      align-self: flex-end;
      grid-row: 1/2;
      grid-column: 1/2;
      @include mixins.customgrid(1, 1, auto);
      @include mixins.size(19.3rem, 14rem);
      justify-content: flex-end;
      align-items: flex-end;
      overflow: hidden;
      span {
        grid-row: 1/2;
        grid-column: 1/2;
        img {
          // @include mixins.size(100%);
        }
        &:nth-child(1) {
          z-index: 5;
        }
        &:nth-child(2) {
          z-index: 4;
        }
        // &:nth-child(3) {
        // }
        // &:nth-child(4) {
        // }
      }
    }
  }
}
