@use "footer";
@use "navbar";
@use "scrollbar";
@use "header";
@use "products";

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  #content {
    row-gap: 4rem;
    display: flex;
    flex-direction: column;
    place-content: center;
  }
}
